<main>
  <section class="reg">
    <a>Вход</a>
    <a>Регистрация</a>
  </section>
  <section class="welcome">
    <h1>Вы ищете...</h1>
    <div>
      <figure>
        <%= link_to 'phones', controller: 'phones' do %>
          <%= image_tag 'icons/smartphone.svg' %>
        <% end %>
      </figure>
      <figure>
        <%= link_to 'tablets', controller: 'tablets' do %>
          <%= image_tag 'icons/tablet.svg' %>
        <% end %>
      </figure>
      <figure>
        <%= link_to 'transformers', controller: 'transformers' do %>
          <%= image_tag 'icons/laptop.svg' %>
        <% end %>
      </figure>
      <figure>
        <%= link_to 'watches', controller: 'watches' do %>
          <%= image_tag 'icons/watch.svg' %>
        <% end %>
      </figure>
    </div>
  </section>
  <section class="line">
    <h2>Новинки</h2>
    <div>
      <article>

      </article>
      <article>

      </article>
      <article>

      </article>
      <article>

      </article>
      <h2>+</h2>
    </div>
  </section>
  <section class="line">
    <h2>Телефоны</h2>
    <div>
      <article>

      </article>
      <article>

      </article>
      <article>

      </article>
      <article>

      </article>
      <h2>+</h2>
    </div>
  </section>
  <section class="line">
    <h2>Планшеты</h2>
    <div>
      <article>

      </article>
      <article>

      </article>
      <article>

      </article>
      <article>

      </article>
      <h2>+</h2>
    </div>
  </section>
  <section class="line">
    <h2>Трансформеры</h2>
    <div>
      <article>

      </article>
      <article>

      </article>
      <article>

      </article>
      <article>

      </article>
      <h2>+</h2>
    </div>
  </section>
  <section class="line">
    <h2>Умные часы</h2>
    <div>
      <article>

      </article>
      <article>

      </article>
      <article>

      </article>
      <article>

      </article>
      <h2>+</h2>
    </div>
  </section>
  <%= render 'main/footer' %>
</main>
