<main>
  <div class="container">
    <h2>Планшет</h2>
    <%= form_for @developer do |f| %>
    <% if @developer.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@developer.errors.count, "error") %> prohibited
          this developer from being saved:
        </h2>
        <ul>
          <% @developer.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
      <div class="device-form">
        <p>
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </p>
        <p>
          <%= f.label :description %><br>
          <%= f.text_field :description %>
        </p>
        <p>
          <%= f.label :devices %><br>
          <%= f.text_field :devices %>
        </p>
        <p>
          <%= f.submit(class: "button", value: "Обновить") %>
        </p>
        <p>
          <%= link_to "Назад", developers_path, class: "button" %>
        </p>
      </div>
    <% end %>
  </div>
</main>
