<main class="main">
  <div class="container">
    <div class="sorting">

    </div>
    <h2>Разработчики</h2>
    <section class="line">
      <div>
        <% @developers.each do |developer| %>
          <%= link_to developer_path(developer) do %>
            <article>
              <%= image_tag 'developers/'+phone.developer+'_'+phone.model, alt: phone.developer+' '+phone.model %>
              <p><%= developer.developer %> <%= developer.model %></p>
            </article>
          <% end %>
        <% end %>
      </div>
    </section>
  </div>
  <%= render 'layouts/footer' %>
</main>
