<main class="main">
  <div class="container">
    <%= link_to developers_path do %><h2>Разработчики<% end %> > <%= @developer.name %></h2>
    <div class="gadget-head">
      <div class="img-box">
        <%= image_tag 'developers/'+@developer.name %>
      </div>
      <div>
        <h1 style="color: #009688"><%= @developer.name %></h1>
        <table class="specs">
          <tr>
            <td>Описание:</td>
            <td><%= @developer.description %></td>
          </tr>
          <tr>
            <td>Устройства:</td>
            <td><%= @developer.devices %></td>
          </tr>
        </table>
      </div>
      <div class="edit-buttons">
        <%= link_to 'Редактировать', edit_developer_path(@developer), class: "button" %>
        <%= link_to 'Удалить', developer_path(@developer), method: :delete, data: { confirm: 'Вы уверены?' }, class: "button attention" %>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</main>
