<main>
  <div class="container">
    <h2>Телефон <%= @phone.model %></h2>
    <%= form_for @phone do |f| %>
      <% if @phone.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@phone.errors.count, "error") %> prohibited
            this phone from being saved:
          </h2>
          <ul>
            <% @phone.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <section class="device-form">
        <figure>
          <p>Разработчик</p>
          <select>
            <% @developers.each do |developer| %>
              <option><%= developer.name %></option>
            <% end %>
          </select>
        </figure>
        <figure>
          <%= f.label :model, "Модель" %>
          <%= f.text_field :model %>
        </figure>
        <figure>
          <%= f.label :m_year, "Год выхода" %>
          <%= f.text_field :m_year %>
        </figure>
        <figure>
          <%= f.label :resolution_x, "Разрешение экрана (x)" %>
          <%= f.text_field :resolution_x %>
        </figure>
        <figure>
          <%= f.label :resolution_y, "Разрешение экрана (y)" %>
          <%= f.text_field :resolution_y %>
        </figure>
        <figure>
          <%= f.label :diagonal, "Диагональ экрана" %>
          <%= f.text_field :diagonal %>
        </figure>
        <figure>
          <%= f.label :screen_type, "Тип экрана" %>
          <%= f.text_field :screen_type %>
        </figure>
        <figure>
          <%= f.label :dpi, "DPI" %>
          <%= f.text_field :dpi %>
        </figure>
        <figure>
          <%= f.label :multitouch, "Кол-во одновременных касаний" %>
          <%= f.text_field :multitouch %>
        </figure>
        <figure>
          <%= f.label :disp_protect, "Защита дисплея" %>
          <%= f.text_field :disp_protect %>
        </figure>
        <figure>
          <%= f.label :cpu, "Процессор" %>
          <%= f.text_field :cpu %>
        </figure>
        <figure>
          <%= f.label :cores, "Кол-во ядер" %>
          <%= f.text_field :cores %>
        </figure>
        <figure>
          <%= f.label :frequency, "Частота процессора" %>
          <%= f.text_field :frequency %>
        </figure>
        <figure>
          <%= f.label :gpu, "Графический процессор"%>
          <%= f.text_field :gpu %>
        </figure>
        <figure>
          <%= f.label :inner_mem, "Объем внутр. памяти" %>
          <%= f.text_field :inner_mem %>
        </figure>
        <figure>
          <%= f.label :ram, "Объем опер. памяти" %>
          <%= f.text_field :ram %>
        </figure>
        <figure>
          <%= f.label :cam, "Модуль камеры" %>
          <%= f.text_field :cam %>
        </figure>
        <figure>
          <%= f.label :diaphragm, "Диафрагма (f/)" %>
          <%= f.text_field :diaphragm %>
        </figure>
        <figure>
          <%= f.label :megapixels, "Кол-во Mp основной камеры" %>
          <%= f.text_field :megapixels %>
        </figure>
        <figure>
          <%= f.label :photo_res_x, "Разрешение фото (x)" %>
          <%= f.text_field :photo_res_x %>
        </figure>
        <figure>
          <%= f.label :photo_res_y, "Разрешение фото (y)" %>
          <%= f.text_field :photo_res_y %>
        </figure>
        <figure>
          <%= f.label :front_megapixels, "Кол-во Mp фронтальной камеры" %>
          <%= f.text_field :front_megapixels %>
        </figure>
        <figure>
          <%= f.label :video_res_x, "Разрешение видео (x)" %>
          <%= f.text_field :video_res_x %>
        </figure>
        <figure>
          <%= f.label :video_res_y, "Разрешение видео (y)" %>
          <%= f.text_field :video_res_y %>
        </figure>
        <figure>
          <%= f.label :fps, "FPS" %>
          <%= f.text_field :fps %>
        </figure>
        <figure>
          <%= f.label :bluetooth, "Bluetooth" %>
          <%= f.text_field :bluetooth %>
        </figure>
        <figure>
          <%= f.label :battery, "Емкость батареи" %>
          <%= f.text_field :battery %>
        </figure>
        <figure>
          <%= f.label :standby_time, "Время работы в режиме ожидания" %>
          <%= f.text_field :standby_time %>
        </figure>
        <figure>
          <%= f.label :talk_time, "Время работы в режиме разговора" %>
          <%= f.text_field :talk_time %>
        </figure>
        <figure>
          <%= f.label :os, "Операционная система" %>
          <%= f.text_field :os %>
        </figure>
        <figure>
          <%= f.label :color, "Цвета" %>
          <%= f.text_field :color %>
        </figure>
        <figure>
          <%= f.label :weight, "Вес" %>
          <%= f.text_field :weight %>
        </figure>
        <figure>
          <%= f.label :dimensions, "Размеры (ДxШxВ)" %>
          <%= f.text_field :dimensions %>
        </figure>
        <figure>
          <%= f.label :material, "Материал корпуса" %>
          <%= f.text_field :material %>
        </figure>
        <figure>
          <%= f.label :protection, "Степень защиты" %>
          <%= f.text_field :protection %>
        </figure>
        <figure>
          <%= f.label :card_max, "Максимальный объем карт памяти" %>
          <%= f.text_field :card_max %>
        </figure>
        <figure>
          <%= f.label :sim, "Формат SIM" %>
          <%= f.text_field :sim %>
        </figure>
        <figure>
          <%= f.label :card, "Поддержка карт памяти" %>
          <div>
            <%= radio_button_tag(:card, "true") %>
            <%= label_tag(:card, "Есть") %>
            <%= radio_button_tag(:card, "false") %>
            <%= label_tag(:card, "Нет") %>
          </div>
        </figure>
        <figure>
          <%= f.label :hdr, "HDR" %>
          <div>
            <%= radio_button_tag(:hdr, "true") %>
            <%= label_tag(:hdr, "Есть") %>
            <%= radio_button_tag(:hdr, "false") %>
            <%= label_tag(:hdr, "Нет") %>
          </div>
        </figure>
        <figure>
          <%= f.label :nfc, "NFC" %>
          <div>
            <%= radio_button_tag(:nfc, "true") %>
            <%= label_tag(:nfc, "Есть") %>
            <%= radio_button_tag(:nfc, "false") %>
            <%= label_tag(:nfc, "Нет") %>
          </div>
        </figure>
        <figure>
          <%= f.label :gyroscope, "Гироскоп" %>
          <div>
            <%= radio_button_tag(:gyroscope, "true") %>
            <%= label_tag(:gyroscope, "Есть") %>
            <%= radio_button_tag(:gyroscope, "false") %>
            <%= label_tag(:gyroscope, "Нет") %>
          </div>
        </figure>
        <figure>
          <%= f.label :accelerometer, "Акселерометр" %>
          <div>
            <%= radio_button_tag(:accelerometer, "true") %>
            <%= label_tag(:accelerometer, "Есть") %>
            <%= radio_button_tag(:accelerometer, "false") %>
            <%= label_tag(:accelerometer, "Нет") %>
          </div>
        </figure>
        <figure>
          <%= f.label :light_sensor, "Датчик освещенности" %>
          <div>
            <%= radio_button_tag(:light_sensor, "true") %>
            <%= label_tag(:light_sensor, "Есть") %>
            <%= radio_button_tag(:light_sensor, "false") %>
            <%= label_tag(:light_sensor, "Нет") %>
          </div>
        </figure>
        <figure>
          <%= f.label :compass, "Цифровой компас" %>
          <div>
            <%= radio_button_tag(:compass, "true") %>
            <%= label_tag(:compass, "Есть") %>
            <%= radio_button_tag(:compass, "false") %>
            <%= label_tag(:compass, "Нет") %>
          </div>
        </figure>
        <figure>
          <%= f.label :proximity, "Датчик приближения" %>
          <div>
            <%= radio_button_tag(:proximity, "true") %>
            <%= label_tag(:proximity, "Есть") %>
            <%= radio_button_tag(:proximity, "false") %>
            <%= label_tag(:proximity, "Нет") %>
          </div>
        </figure>
        <figure>
          <%= f.label :wireless_charge, "Беспроводная зарядка" %>
          <div>
            <%= radio_button_tag(:wireless_charge, "true") %>
            <%= label_tag(:wireless_charge, "Есть") %>
            <%= radio_button_tag(:wireless_charge, "false") %>
            <%= label_tag(:wireless_charge, "Нет") %>
          </div>
        </figure>
        <figure>
          <%= f.label :fast_charge, "Быстрая зарядка" %>
          <div>
            <%= radio_button_tag(:fast_charge, "true") %>
            <%= label_tag(:fast_charge, "Есть") %>
            <%= radio_button_tag(:fast_charge, "false") %>
            <%= label_tag(:fast_charge, "Нет") %>
          </div>
        </figure>
        <figure>
          <%= f.label :type_c, "USB Type-C" %>
          <div>
            <%= radio_button_tag(:type_c, "true") %>
            <%= label_tag(:type_c, "Есть") %>
            <%= radio_button_tag(:type_c, "false") %>
            <%= label_tag(:type_c, "Нет") %>
          </div>
        </figure>
        <figure>
          <%= f.label :vr, "Виртуальная реальность" %>
          <div>
            <%= radio_button_tag(:vr, "true") %>
            <%= label_tag(:vr, "Есть") %>
            <%= radio_button_tag(:vr, "false") %>
            <%= label_tag(:vr, "Нет") %>
          </div>
        </figure>
        <figure>
          <%= f.label :jack, "Разъем 3.5 мм" %>
          <div>
            <%= radio_button_tag(:jack, "true") %>
            <%= label_tag(:jack, "Есть") %>
            <%= radio_button_tag(:jack, "false") %>
            <%= label_tag(:jack, "Нет") %>
          </div>
        </figure>
        <figure>
          <%= f.label :autofocus, "Автофокус" %>
          <div>
            <%= radio_button_tag(:autofocus, "true") %>
            <%= label_tag(:autofocus, "Есть") %>
            <%= radio_button_tag(:autofocus, "false") %>
            <%= label_tag(:autofocus, "Нет") %>
          </div>
        </figure>
        <figure>
          <%= f.label :glonass, "ГЛОНАСС" %>
          <div>
            <%= radio_button_tag(:glonass, "true") %>
            <%= label_tag(:glonass, "Есть") %>
            <%= radio_button_tag(:glonass, "false") %>
            <%= label_tag(:glonass, "Нет") %>
          </div>
        </figure>
        <figure>
          <%= f.label :description, "Описание" %>
          <%= f.text_area :description %>
        </figure>
        <figure>
          <%= f.label :three_g, "3G" %>
          <%= f.text_area :three_g %>
        </figure>
        <figure>
          <%= f.label :four_g, "4G" %>
          <%= f.text_area :four_g %>
        </figure>
        <figure>
          <%= f.label :wifi, "WiFi" %>
          <%= f.text_area :wifi %>
        </figure>
      </section>
      <%= f.submit(class: "button", value: "Сохранить") %>
      <%= link_to "Назад", phones_path(:id), class: "button" %>
    <% end %>
  </div>
</main>
