<main>
  <section class="line">
    <h2>Телефоны</h2>
    <div>
      <% @phones.each do |phone| %>
        <%= link_to phone_path(phone) do %>
          <article>
            <%= image_tag 'phones/googlepixel' %>
            <p><%= phone.developer %> <%= phone.model %></p>
          </article>
          <% end %>
          <% end %>
        </div>
      </section>
      <%= render 'main/footer' %>
</main>
