<p>
  <strong>Title:</strong>
  <%= @phone.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @phone.text %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @phone.developer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @phone.model %>
</p>

<p>
  <strong>Description:</strong>
  <%= @phone.description %>
</p>

<p>
  <strong>M_year:</strong>
  <%= @phone.m_year %>
</p>

<p>
  <strong>Resolution_x:</strong>
  <%= @phone.resolution_x %>
</p>

<p>
  <strong>Resolution_y:</strong>
  <%= @phone.resolution_y %>
</p>

<p>
  <strong>Diagonal:</strong>
  <%= @phone.diagonal %>
</p>

<p>
  <strong>Screen_type:</strong>
  <%= @phone.screen_type %>
</p>

<p>
  <strong>Dpi:</strong>
  <%= @phone.dpi %>
</p>

<p>
  <strong>Multitouch:</strong>
  <%= @phone.multitouch %>
</p>

<p>
  <strong>Cpu:</strong>
  <%= @phone.cpu %>
</p>

<p>
  <strong>Cores:</strong>
  <%= @phone.cores %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @phone.frequency %>
</p>

<p>
  <strong>Gpu:</strong>
  <%= @phone.gpu %>
</p>

<p>
  <strong>Inner_mem:</strong>
  <%= @phone.inner_mem %>
</p>

<p>
  <strong>Ram:</strong>
  <%= @phone.ram %>
</p>

<p>
  <strong>Cam:</strong>
  <%= @phone.cam %>
</p>

<p>
  <strong>Megapixels:</strong>
  <%= @phone.megapixels %>
</p>

<p>
  <strong>Photo_res_x:</strong>
  <%= @phone.photo_res_x %>
</p>

<p>
  <strong>Photo_res_y:</strong>
  <%= @phone.photo_res_y %>
</p>

<p>
  <strong>Hdr:</strong>
  <%= @phone.hdr %>
</p>

<p>
  <strong>Front_megapixels:</strong>
  <%= @phone.front_megapixels %>
</p>

<p>
  <strong>Video_res_x:</strong>
  <%= @phone.video_res_x %>
</p>

<p>
  <strong>Video_res_y:</strong>
  <%= @phone.video_res_y %>
</p>

<p>
  <strong>Fps:</strong>
  <%= @phone.fps %>
</p>

<p>
  <strong>Three_g:</strong>
  <%= @phone.three_g %>
</p>

<p>
  <strong>Four_g:</strong>
  <%= @phone.four_g %>
</p>

<p>
  <strong>Wifi:</strong>
  <%= @phone.wifi %>
</p>

<p>
  <strong>Bluetooth:</strong>
  <%= @phone.bluetooth %>
</p>

<p>
  <strong>Nfc:</strong>
  <%= @phone.nfc %>
</p>

<p>
  <strong>Gyroscope:</strong>
  <%= @phone.gyroscope %>
</p>

<p>
  <strong>Accelerometer:</strong>
  <%= @phone.accelerometer %>
</p>

<p>
  <strong>Barometer:</strong>
  <%= @phone.barometer %>
</p>

<p>
  <strong>Wireless_charge:</strong>
  <%= @phone.wireless_charge %>
</p>

<p>
  <strong>Fast_charge:</strong>
  <%= @phone.fast_charge %>
</p>

<p>
  <strong>Type_c:</strong>
  <%= @phone.type_c %>
</p>

<p>
  <strong>Vr:</strong>
  <%= @phone.vr %>
</p>

<p>
  <strong>Battery:</strong>
  <%= @phone.battery %>
</p>

<p>
  <strong>Standby_time:</strong>
  <%= @phone.standby_time %>
</p>

<p>
  <strong>Talk_time:</strong>
  <%= @phone.talk_time %>
</p>

<p>
  <strong>OS:</strong>
  <%= @phone.os %>
</p>

<p>
  <strong>Color:</strong>
  <%= @phone.color %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @phone.weight %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @phone.dimensions %>
</p>

<p>
  <strong>Material:</strong>
  <%= @phone.material %>
</p>

<p>
  <strong>Protection:</strong>
  <%= @phone.protection %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %>
<%= link_to 'Back', phones_path %>
