<p>
  <strong>Developer:</strong>
  <%= @tablet.developer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @tablet.model %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tablet.description %>
</p>

<p>
  <strong>M_year:</strong>
  <%= @tablet.m_year %>
</p>

<p>
  <strong>Resolution_x:</strong>
  <%= @tablet.resolution_x %>
</p>

<p>
  <strong>Resolution_y:</strong>
  <%= @tablet.resolution_y %>
</p>

<p>
  <strong>Diagonal:</strong>
  <%= @tablet.diagonal %>
</p>

<p>
  <strong>Screen_type:</strong>
  <%= @tablet.screen_type %>
</p>

<p>
  <strong>Dpi:</strong>
  <%= @tablet.dpi %>
</p>

<p>
  <strong>Multitouch:</strong>
  <%= @tablet.multitouch %>
</p>

<p>
  <strong>Cpu:</strong>
  <%= @tablet.cpu %>
</p>

<p>
  <strong>Cores:</strong>
  <%= @tablet.cores %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @tablet.frequency %>
</p>

<p>
  <strong>Gpu:</strong>
  <%= @tablet.gpu %>
</p>

<p>
  <strong>Inner_mem:</strong>
  <%= @tablet.inner_mem %>
</p>

<p>
  <strong>Ram:</strong>
  <%= @tablet.ram %>
</p>

<p>
  <strong>Cam:</strong>
  <%= @tablet.cam %>
</p>

<p>
  <strong>Megapixels:</strong>
  <%= @tablet.megapixels %>
</p>

<p>
  <strong>Photo_res_x:</strong>
  <%= @tablet.photo_res_x %>
</p>

<p>
  <strong>Photo_res_y:</strong>
  <%= @tablet.photo_res_y %>
</p>

<p>
  <strong>Hdr:</strong>
  <%= @tablet.hdr %>
</p>

<p>
  <strong>Front_megapixels:</strong>
  <%= @tablet.front_megapixels %>
</p>

<p>
  <strong>Video_res_x:</strong>
  <%= @tablet.video_res_x %>
</p>

<p>
  <strong>Video_res_y:</strong>
  <%= @tablet.video_res_y %>
</p>

<p>
  <strong>Fps:</strong>
  <%= @tablet.fps %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @tablet.phone %>
</p>

<p>
  <strong>Three_g:</strong>
  <%= @tablet.three_g %>
</p>

<p>
  <strong>Four_g:</strong>
  <%= @tablet.four_g %>
</p>

<p>
  <strong>Wifi:</strong>
  <%= @tablet.wifi %>
</p>

<p>
  <strong>Bluetooth:</strong>
  <%= @tablet.bluetooth %>
</p>

<p>
  <strong>Nfc:</strong>
  <%= @tablet.nfc %>
</p>

<p>
  <strong>Gyroscope:</strong>
  <%= @tablet.gyroscope %>
</p>

<p>
  <strong>Accelerometer:</strong>
  <%= @tablet.accelerometer %>
</p>

<p>
  <strong>Barometer:</strong>
  <%= @tablet.barometer %>
</p>

<p>
  <strong>Wireless_charge:</strong>
  <%= @tablet.wireless_charge %>
</p>

<p>
  <strong>Fast_charge:</strong>
  <%= @tablet.fast_charge %>
</p>

<p>
  <strong>Type_c:</strong>
  <%= @tablet.type_c %>
</p>

<p>
  <strong>Battery:</strong>
  <%= @tablet.battery %>
</p>

<p>
  <strong>Standby_time:</strong>
  <%= @tablet.standby_time %>
</p>

<p>
  <strong>Talk_time:</strong>
  <%= @tablet.talk_time %>
</p>

<p>
  <strong>OS:</strong>
  <%= @tablet.os %>
</p>

<p>
  <strong>Color:</strong>
  <%= @tablet.color %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @tablet.weight %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @tablet.dimensions %>
</p>

<p>
  <strong>Material:</strong>
  <%= @tablet.material %>
</p>

<p>
  <strong>Protection:</strong>
  <%= @tablet.protection %>
</p>

<%= link_to 'Edit', edit_tablet_path(@tablet) %>
<%= link_to 'Back', tablets_path %>
