<main>
  <div class="container">
    <h2>Планшет <%= @developer.name %> <%= @transformer.model %></h2>
    <%= form_for @transformer do |f| %>
      <% if @transformer.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@transformer.errors.count, "error") %> prohibited
            this transformer from being saved:
          </h2>
          <ul>
            <% @transformer.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <section class="device-form">
        <figure>
          <p>Разработчик</p>
          <select>
            <% @developers.each do |developer| %>
              <option><%= developer.name %></option>
            <% end %>
          </select>
        </figure>
        <figure>
          <%= f.label :model, "Модель" %>
          <%= f.text_field :model %>
        </figure>
        <figure>
          <%= f.label :m_year, "Год выхода" %>
          <%= f.text_field :m_year %>
        </figure>
        <figure>
          <%= f.label :resolution_x, "Разрешение экрана (x)" %>
          <%= f.text_field :resolution_x %>
        </figure>
        <figure>
          <%= f.label :resolution_y, "Разрешение экрана (y)" %>
          <%= f.text_field :resolution_y %>
        </figure>
        <figure>
          <%= f.label :diagonal, "Диагональ экрана" %>
          <%= f.text_field :diagonal %>
        </figure>
        <figure>
          <%= f.label :screen_type, "Тип экрана" %>
          <%= f.text_field :screen_type %>
        </figure>
        <figure>
          <%= f.label :dpi, "DPI" %>
          <%= f.text_field :dpi %>
        </figure>
        <figure>
          <%= f.label :multitouch, "Кол-во одновременных касаний" %>
          <%= f.text_field :multitouch %>
        </figure>
        <figure>
          <%= f.label :disp_protect, "Защита экрана" %>
          <%= f.text_field :disp_protect %>
        </figure>
        <figure>
          <%= f.label :cpu, "Процессор" %>
          <%= f.text_field :cpu %>
        </figure>
        <figure>
          <%= f.label :cores, "Кол-во ядер" %>
          <%= f.text_field :cores %>
        </figure>
        <figure>
          <%= f.label :frequency, "Частота процессора" %>
          <%= f.text_field :frequency %>
        </figure>
        <figure>
          <%= f.label :gpu, "Графический процессор"%>
          <%= f.text_field :gpu %>
        </figure>
        <figure>
          <%= f.label :inner_mem, "Объем внутр. памяти" %>
          <%= f.text_field :inner_mem %>
        </figure>
        <figure>
          <%= f.label :ram, "Объем опер. памяти" %>
          <%= f.text_field :ram %>
        </figure>
        <figure>
          <%= f.label :front_megapixels, "Кол-во Mp фронтальной камеры" %>
          <%= f.text_field :front_megapixels %>
        </figure>
        <figure>
          <%= f.label :bluetooth %>
          <%= f.text_field :bluetooth %>
        </figure>
        <figure>
          <%= f.label :battery, "Емкость батареи" %>
          <%= f.text_field :battery %>
        </figure>
        <figure>
          <%= f.label :standby_time, "Время работы в режиме ожидания" %>
          <%= f.text_field :standby_time %>
        </figure>
        <figure>
          <%= f.label :os, "Операционная система" %>
          <%= f.text_field :os %>
        </figure>
        <figure>
          <%= f.label :color, "Цвета" %>
          <%= f.text_field :color %>
        </figure>
        <figure>
          <%= f.label :weight, "Вес" %>
          <%= f.text_field :weight %>
        </figure>
        <figure>
          <%= f.label :dimensions, "Размеры (ДxШxВ)" %>
          <%= f.text_field :dimensions %>
        </figure>
        <figure>
          <%= f.label :material, "Материал корпуса" %>
          <%= f.text_field :material %>
        </figure>
        <figure>
          <%= f.label :protection, "Степень защиты" %>
          <%= f.text_field :protection %>
        </figure>
        <figure>
          <%= f.label :card_max, "Максимальный объем карт памяти" %>
          <%= f.text_field :card_max %>
        </figure>
        <figure>
          <%= f.label :card, "Поддержка карт памяти" %>
          <div>
            <%= radio_button_tag(:card, "true") %>
            <%= label_tag(:card, "Есть") %>
            <%= radio_button_tag(:card, "false") %>
            <%= label_tag(:card, "Нет") %>
          </div>
        </figure>
        <figure>
          <%= f.label :gyroscope, "Гироскоп" %>
          <div>
            <%= radio_button_tag(:gyroscope, "true") %>
            <%= label_tag(:gyroscope, "Есть") %>
            <%= radio_button_tag(:gyroscope, "false") %>
            <%= label_tag(:gyroscope, "Нет") %>
          </div>
        </figure>
        <figure>
          <%= f.label :accelerometer, "Акселерометр" %>
          <div>
            <%= radio_button_tag(:accelerometer, "true") %>
            <%= label_tag(:accelerometer, "Есть") %>
            <%= radio_button_tag(:accelerometer, "false") %>
            <%= label_tag(:accelerometer, "Нет") %>
          </div>
        </figure>
        <figure>
          <%= f.label :light_sensor, "Датчик освещенности" %>
          <div>
            <%= radio_button_tag(:light_sensor, "true") %>
            <%= label_tag(:light_sensor, "Есть") %>
            <%= radio_button_tag(:light_sensor, "false") %>
            <%= label_tag(:light_sensor, "Нет") %>
          </div>
        </figure>
        <figure>
          <%= f.label :compass, "Цифровой компас" %>
          <div>
            <%= radio_button_tag(:compass, "true") %>
            <%= label_tag(:compass, "Есть") %>
            <%= radio_button_tag(:compass, "false") %>
            <%= label_tag(:compass, "Нет") %>
          </div>
        </figure>
        <figure>
          <%= f.label :wireless_charge, "Беспроводная зарядка" %>
          <div>
            <%= radio_button_tag(:wireless_charge, "true") %>
            <%= label_tag(:wireless_charge, "Есть") %>
            <%= radio_button_tag(:wireless_charge, "false") %>
            <%= label_tag(:wireless_charge, "Нет") %>
          </div>
        </figure>
        <figure>
          <%= f.label :fast_charge, "Быстрая зарядка" %>
          <div>
            <%= radio_button_tag(:fast_charge, "true") %>
            <%= label_tag(:fast_charge, "Есть") %>
            <%= radio_button_tag(:fast_charge, "false") %>
            <%= label_tag(:fast_charge, "Нет") %>
          </div>
        </figure>
        <figure>
          <%= f.label :stylus, "Стилус" %>
          <div>
            <%= radio_button_tag(:stylus, "true") %>
            <%= label_tag(:stylus, "Есть") %>
            <%= radio_button_tag(:stylus, "false") %>
            <%= label_tag(:stylus, "Нет") %>
          </div>
        </figure>
        <figure>
          <%= f.label :glonass, "Поддержка ГЛОНАСС" %>
          <div>
            <%= radio_button_tag(:glonass, "true") %>
            <%= label_tag(:glonass, "Есть") %>
            <%= radio_button_tag(:glonass, "false") %>
            <%= label_tag(:glonass, "Нет") %>
          </div>
        </figure>
        <figure>
          <%= f.label :jack, "Поддержка 3.5 мм Jack" %>
          <div>
            <%= radio_button_tag(:jack, "true") %>
            <%= label_tag(:jack, "Есть") %>
            <%= radio_button_tag(:jack, "false") %>
            <%= label_tag(:jack, "Нет") %>
          </div>
        </figure>
        <figure>
          <%= f.label :description, "Описание" %>
          <%= f.text_area :description %>
        </figure>
        <figure>
          <%= f.label :wifi %>
          <%= f.text_area :wifi %>
        </figure>
      </section>
      <%= f.submit(class: "button", value: "Сохранить") %>
      <%= link_to "Назад", transformers_path(:id), class: "button" %>
    <% end %>
  </div>
</main>
