<p>
  <strong>Developer:</strong>
  <%= @transformer.developer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @transformer.model %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transformer.description %>
</p>

<p>
  <strong>M_year:</strong>
  <%= @transformer.m_year %>
</p>

<p>
  <strong>Resolution_x:</strong>
  <%= @transformer.resolution_x %>
</p>

<p>
  <strong>Resolution_y:</strong>
  <%= @transformer.resolution_y %>
</p>

<p>
  <strong>Diagonal:</strong>
  <%= @transformer.diagonal %>
</p>

<p>
  <strong>Screen_type:</strong>
  <%= @transformer.screen_type %>
</p>

<p>
  <strong>Dpi:</strong>
  <%= @transformer.dpi %>
</p>

<p>
  <strong>Multitouch:</strong>
  <%= @transformer.multitouch %>
</p>

<p>
  <strong>Cpu:</strong>
  <%= @transformer.cpu %>
</p>

<p>
  <strong>Cores:</strong>
  <%= @transformer.cores %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @transformer.frequency %>
</p>

<p>
  <strong>Gpu:</strong>
  <%= @transformer.gpu %>
</p>

<p>
  <strong>Inner_mem:</strong>
  <%= @transformer.inner_mem %>
</p>

<p>
  <strong>Ram:</strong>
  <%= @transformer.ram %>
</p>

<p>
  <strong>Cam:</strong>
  <%= @transformer.cam %>
</p>

<p>
  <strong>Megapixels:</strong>
  <%= @transformer.megapixels %>
</p>

<p>
  <strong>Photo_res_x:</strong>
  <%= @transformer.photo_res_x %>
</p>

<p>
  <strong>Photo_res_y:</strong>
  <%= @transformer.photo_res_y %>
</p>

<p>
  <strong>Hdr:</strong>
  <%= @transformer.hdr %>
</p>

<p>
  <strong>Video_res_x:</strong>
  <%= @transformer.video_res_x %>
</p>

<p>
  <strong>Video_res_y:</strong>
  <%= @transformer.video_res_y %>
</p>

<p>
  <strong>Fps:</strong>
  <%= @transformer.fps %>
</p>

<p>
  <strong>Wifi:</strong>
  <%= @transformer.wifi %>
</p>

<p>
  <strong>Bluetooth:</strong>
  <%= @transformer.bluetooth %>
</p>

<p>
  <strong>Nfc:</strong>
  <%= @transformer.nfc %>
</p>

<p>
  <strong>Gyroscope:</strong>
  <%= @transformer.gyroscope %>
</p>

<p>
  <strong>Accelerometer:</strong>
  <%= @transformer.accelerometer %>
</p>

<p>
  <strong>Barometer:</strong>
  <%= @transformer.barometer %>
</p>

<p>
  <strong>Wireless_charge:</strong>
  <%= @transformer.wireless_charge %>
</p>

<p>
  <strong>Fast_charge:</strong>
  <%= @transformer.fast_charge %>
</p>

<p>
  <strong>Stylus:</strong>
  <%= @transformer.stylus %>
</p>

<p>
  <strong>Interfaces:</strong>
  <%= @transformer.interfaces %>
</p>

<p>
  <strong>Cards:</strong>
  <%= @transformer.cards %>
</p>

<p>
  <strong>Battery:</strong>
  <%= @transformer.battery %>
</p>

<p>
  <strong>Standby_time:</strong>
  <%= @transformer.standby_time %>
</p>

<p>
  <strong>OS:</strong>
  <%= @transformer.os %>
</p>

<p>
  <strong>Color:</strong>
  <%= @transformer.color %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @transformer.weight %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @transformer.dimensions %>
</p>

<p>
  <strong>Material:</strong>
  <%= @transformer.material %>
</p>

<p>
  <strong>Protection:</strong>
  <%= @transformer.protection %>
</p>

<%= link_to 'Edit', edit_transformer_path(@transformer) %>
<%= link_to 'Back', transformers_path %>
