<main>
  <div class="container">
    <h2>Планшет <%= @developer.name %> <%= @watch.model %></h2>
    <%= form_for @watch do |f| %>
      <% if @watch.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@watch.errors.count, "error") %> prohibited
            this watch from being saved:
          </h2>
          <ul>
            <% @watch.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <section class="device-form">
        <figure>
          <p>Разработчик</p>
          <select>
            <% @developers.each do |developer| %>
              <option><%= developer.name %></option>
              <% end %>
            </select>
          </figure>
          <figure>
            <%= f.label :description, "Описание" %>
            <%= f.text_area :description %>
          </figure>
          <figure>
            <%= f.label :model, "Модель" %>
            <%= f.text_field :model %>
          </figure>
          <figure>
            <%= f.label :m_year, "Год выхода" %>
            <%= f.text_field :m_year %>
          </figure>
          <figure>
            <%= f.label :resolution_x, "Разрешение экрана (x)" %>
            <%= f.text_field :resolution_x %>
          </figure>
          <figure>
            <%= f.label :resolution_y, "Разрешение экрана (y)" %>
            <%= f.text_field :resolution_y %>
          </figure>
          <figure>
            <%= f.label :diagonal, "Диагональ экрана" %>
            <%= f.text_field :diagonal %>
          </figure>
          <figure>
            <%= f.label :screen_type, "Тип экрана" %>
            <%= f.text_field :screen_type %>
          </figure>
          <figure>
            <%= f.label :dpi, "DPI" %>
            <%= f.text_field :dpi %>
          </figure>
          <figure>
            <%= f.label :multitouch, "Кол-во одновременных касаний" %>
            <%= f.text_field :multitouch %>
          </figure>
          <figure>
            <%= f.label :cpu, "Процессор" %>
            <%= f.text_field :cpu %>
          </figure>
          <figure>
            <%= f.label :cores, "Кол-во ядер" %>
            <%= f.text_field :cores %>
          </figure>
          <figure>
            <%= f.label :frequency, "Частота процессора" %>
            <%= f.text_field :frequency %>
          </figure>
          <figure>
            <%= f.label :gpu, "Графический процессор"%>
            <%= f.text_field :gpu %>
          </figure>
          <figure>
            <%= f.label :inner_mem, "Объем внутр. памяти" %>
            <%= f.text_field :inner_mem %>
          </figure>
          <figure>
            <%= f.label :ram, "Объем опер. памяти" %>
            <%= f.text_field :ram %>
          </figure>
          <figure>
            <%= f.label :wifi, "WiFi" %>
            <%= f.text_area :wifi %>
          </figure>
          <figure>
            <%= f.label :bluetooth, "Bluetooth" %>
            <%= f.text_field :bluetooth %>
          </figure>
          <figure>
            <%= f.label :battery, "Емкость батареи" %>
            <%= f.text_field :battery %>
          </figure>
          <figure>
            <%= f.label :standby_time, "Время работы в режиме ожидания" %>
            <%= f.text_field :standby_time %>
          </figure>
          <figure>
            <%= f.label :clock_time, "Время работы в режиме часов" %>
            <%= f.text_field :clock_time %>
          </figure>
          <figure>
            <%= f.label :os, "Операционная система" %>
            <%= f.text_field :os %>
          </figure>
          <figure>
            <%= f.label :color, "Цвета" %>
            <%= f.text_field :color %>
          </figure>
          <figure>
            <%= f.label :weight, "Вес" %>
            <%= f.text_field :weight %>
          </figure>
          <figure>
            <%= f.label :dimensions, "Размеры (ДxШxВ)" %>
            <%= f.text_field :dimensions %>
          </figure>
          <figure>
            <%= f.label :material, "Материал корпуса" %>
            <%= f.text_field :material %>
          </figure>
          <figure>
            <%= f.label :protection, "Степень защиты" %>
            <%= f.text_field :protection %>
          </figure>
          <figure>
            <%= f.label :online_service, "Онлайн-сервис" %>
            <%= f.text_field :online_service %>
          </figure>
          <figure>
            <%= f.label :compatibility, "Совместимость" %>
            <%= f.text_field :compatibility %>
          </figure>
          <figure>
            <%= f.label :gps, "GPS" %>
            <div>
              <%= radio_button_tag(:gps, "true") %>
              <%= label_tag(:gps, "Есть") %>
              <%= radio_button_tag(:gps, "false") %>
              <%= label_tag(:gps, "Нет") %>
            </div>
          </figure>
          <figure>
            <%= f.label :nfc, "NFC" %>
            <div>
              <%= radio_button_tag(:nfc, "true") %>
              <%= label_tag(:nfc, "Есть") %>
              <%= radio_button_tag(:nfc, "false") %>
              <%= label_tag(:nfc, "Нет") %>
            </div>
          </figure>
          <figure>
            <%= f.label :gyroscope, "Гироскоп" %>
            <div>
              <%= radio_button_tag(:gyroscope, "true") %>
              <%= label_tag(:gyroscope, "Есть") %>
              <%= radio_button_tag(:gyroscope, "false") %>
              <%= label_tag(:gyroscope, "Нет") %>
            </div>
          </figure>
          <figure>
            <%= f.label :accelerometer, "Акселерометр" %>
            <div>
              <%= radio_button_tag(:accelerometer, "true") %>
              <%= label_tag(:accelerometer, "Есть") %>
              <%= radio_button_tag(:accelerometer, "false") %>
              <%= label_tag(:accelerometer, "Нет") %>
            </div>
          </figure>
          <figure>
            <%= f.label :barometer, "Барометр" %>
            <div>
              <%= radio_button_tag(:barometer, "true") %>
              <%= label_tag(:barometer, "Есть") %>
              <%= radio_button_tag(:barometer, "false") %>
              <%= label_tag(:barometer, "Нет") %>
            </div>
          </figure>
          <figure>
            <%= f.label :thermometer, "Термометр" %>
            <div>
              <%= radio_button_tag(:thermometer, "true") %>
              <%= label_tag(:thermometer, "Есть") %>
              <%= radio_button_tag(:thermometer, "false") %>
              <%= label_tag(:thermometer, "Нет") %>
            </div>
          </figure>
          <figure>
            <%= f.label :compass, "Компас" %>
            <div>
              <%= radio_button_tag(:compass, "true") %>
              <%= label_tag(:compass, "Есть") %>
              <%= radio_button_tag(:compass, "false") %>
              <%= label_tag(:compass, "Нет") %>
            </div>
          </figure>
          <figure>
            <%= f.label :chronograph, "Хронограф" %>
            <div>
              <%= radio_button_tag(:chronograph, "true") %>
              <%= label_tag(:chronograph, "Есть") %>
              <%= radio_button_tag(:chronograph, "false") %>
              <%= label_tag(:chronograph, "Нет") %>
            </div>
          </figure>
          <figure>
            <%= f.label :pedometer, "Шагомер" %>
            <div>
              <%= radio_button_tag(:pedometer, "true") %>
              <%= label_tag(:pedometer, "Есть") %>
              <%= radio_button_tag(:pedometer, "false") %>
              <%= label_tag(:pedometer, "Нет") %>
            </div>
          </figure>
          <figure>
            <%= f.label :pulse_sensor, "Датчик пульса" %>
            <div>
              <%= radio_button_tag(:pulse_sensor, "true") %>
              <%= label_tag(:pulse_sensor, "Есть") %>
              <%= radio_button_tag(:pulse_sensor, "false") %>
              <%= label_tag(:pulse_sensor, "Нет") %>
            </div>
          </figure>
          <figure>
            <%= f.label :wireless_charge, "Беспроводная зарядка" %>
            <div>
              <%= radio_button_tag(:wireless_charge, "true") %>
              <%= label_tag(:wireless_charge, "Есть") %>
              <%= radio_button_tag(:wireless_charge, "false") %>
              <%= label_tag(:wireless_charge, "Нет") %>
            </div>
          </figure>
          <figure>
            <%= f.label :fast_charge, "Быстрая зарядка" %>
            <div>
              <%= radio_button_tag(:fast_charge, "true") %>
              <%= label_tag(:fast_charge, "Есть") %>
              <%= radio_button_tag(:fast_charge, "false") %>
              <%= label_tag(:fast_charge, "Нет") %>
            </div>
          </figure>
          <figure>
            <%= f.label :type_c, "USB Type-C" %>
            <div>
              <%= radio_button_tag(:type_c, "true") %>
              <%= label_tag(:type_c, "Есть") %>
              <%= radio_button_tag(:type_c, "false") %>
              <%= label_tag(:type_c, "Нет") %>
            </div>
          </figure>
          <figure>
            <%= f.label :color_screen, "Цветной экран" %>
            <div>
              <%= radio_button_tag(:color_screen, "true") %>
              <%= label_tag(:color_screen, "Есть") %>
              <%= radio_button_tag(:color_screen, "false") %>
              <%= label_tag(:color_screen, "Нет") %>
            </div>
          </figure>
          <figure>
            <%= f.label :touchscreen, "Сенсорный экран" %>
            <div>
              <%= radio_button_tag(:touchscreen, "true") %>
              <%= label_tag(:touchscreen, "Есть") %>
              <%= radio_button_tag(:touchscreen, "false") %>
              <%= label_tag(:touchscreen, "Нет") %>
            </div>
          </figure>
          <figure>
            <%= f.label :finder, "Поиск устройства" %>
            <div>
              <%= radio_button_tag(:finder, "true") %>
              <%= label_tag(:finder, "Есть") %>
              <%= radio_button_tag(:finder, "false") %>
              <%= label_tag(:finder, "Нет") %>
            </div>
          </figure>
          <figure>
            <%= f.label :phone, "Поддержка звонков" %>
            <div>
              <%= radio_button_tag(:phone, "true") %>
              <%= label_tag(:phone, "Есть") %>
              <%= radio_button_tag(:phone, "false") %>
              <%= label_tag(:phone, "Нет") %>
            </div>
          </figure>
          <figure>
            <%= f.label :e_mail, "Поддержка электронной почты" %>
            <div>
              <%= radio_button_tag(:e_mail, "true") %>
              <%= label_tag(:e_mail, "Есть") %>
              <%= radio_button_tag(:e_mail, "false") %>
              <%= label_tag(:e_mail, "Нет") %>
            </div>
          </figure>
          <figure>
            <%= f.label :fitness_tracker, "Фитнес-трекер" %>
            <div>
              <%= radio_button_tag(:fitness_tracker, "true") %>
              <%= label_tag(:fitness_tracker, "Есть") %>
              <%= radio_button_tag(:fitness_tracker, "false") %>
              <%= label_tag(:fitness_tracker, "Нет") %>
            </div>
          </figure>
          <figure>
            <%= f.label :speaker, "Динамик" %>
            <div>
              <%= radio_button_tag(:speaker, "true") %>
              <%= label_tag(:speaker, "Есть") %>
              <%= radio_button_tag(:speaker, "false") %>
              <%= label_tag(:speaker, "Нет") %>
            </div>
          </figure>
          <figure>
            <%= f.label :mic, "Микрофон" %>
            <div>
              <%= radio_button_tag(:mic, "true") %>
              <%= label_tag(:mic, "Есть") %>
              <%= radio_button_tag(:mic, "false") %>
              <%= label_tag(:mic, "Нет") %>
            </div>
          </figure>
        </section>
        <%= f.submit(class: "button", value: "Сохранить") %>
        <%= link_to "Назад", transformers_path(:id), class: "button" %>
    <% end %>
  </div>
</main>
