<main class="main">
  <div class="container">
    <%= link_to watches_path do %><h2>Телефоны<% end %> > <%= @watch.model %></h2>
    <section class="gadget-head">
      <h1 class="gadget-caption">Часы <%= @watch.model %></h1>
      <div class="img-box">
        <%= link_to (image_path 'watches/'+@watch.model+'_full'), 'data-fancybox' => 'gallery' do %>
          <% image_tag 'watches/'+@watch.model %>
        <% end %>
        <%= link_to (image_path 'watches/'+@watch.model+'_full_back'), 'data-fancybox' => 'gallery' do %>
        <% end %>
      </div>
      <div class="main-specs">
        <table class="specs">
          <caption>Основные характеристики:</caption>
          <tr>
            <td>Производитель:</td>
            <td>LG</td>
          </tr>
          <tr>
            <td>Модель:</td>
            <td><%= @watch.model %></td>
          </tr>
          <tr>
            <td>Год выпуска:</td>
            <td><%= @watch.m_year %></td>
          </tr>
          <tr>
            <td>Операционная система:</td>
            <td><%= @watch.os %></td>
          </tr>
        </table>
      </div>
      <div class="edit-buttons">
        <!-- <%= link_to 'Сравнить', edit_watch_path(@watch), class: "button" %>
        <%= link_to 'Избранное', edit_watch_path(@watch), class: "button" %> -->
        <%= link_to 'Редактировать', edit_watch_path(@watch), class: "button" %>
        <%= link_to 'Удалить', watch_path(@watch), method: :delete, data: { confirm: 'Вы уверены?' }, class: "button attention" %>
      </div>
    </section>
    <table class="specs">
      <caption>Все характеристики:</caption>
      <tr>
        <td class="sub-heading">Описание:</td>
      </tr>
      <tr>
        <td colspan="4"><%= @transformer.description %></td>
      </tr>
      <tr>
        <td class="sub-heading">Дисплей:</td>
      </tr>
      <tr>
        <td>Разрешение экрана:</td>
        <td><%= @transformer.resolution_x %> x <%= @transformer.resolution_y %> px</td>
        <td>Диагональ экрана (дюймы):</td>
        <td><%= @transformer.diagonal %></td>
      </tr>
      <tr>
        <td>Тип экрана:</td>
        <td><%= @transformer.screen_type %></td>
        <td>DPI (точек на дюйм):</td>
        <td><%= @transformer.dpi %> ppi</td>
      </tr>
      <tr>
        <td>Мультитач (одновременных касаний):</td>
        <td><%= @transformer.multitouch %></td>
        <td>Защитное стекло:</td>
        <td><%= @transformer.disp_protect %></td>
      </tr>
      <tr>
        <td class="sub-heading">Процессор:</td>
      </tr>
      <tr>
        <td>CPU:</td>
        <td><%= @transformer.cpu %></td>
        <td>Количество ядер:</td>
        <td><%= @transformer.cores %></td>
      </tr>
      <tr>
        <td>Частота ядер процессора:</td>
        <td><%= @transformer.frequency %> GHz</td>
        <td>GPU:</td>
        <td><%= @transformer.gpu %></td>
      </tr>
      <tr>
        <td class="sub-heading">Память:</td>
      </tr>
      <tr>
        <td>Внутренняя память:</td>
        <td><%= @transformer.inner_mem %> GB</td>
        <td>Оперативная память:</td>
        <td><%= @transformer.ram %> GB</td>
      </tr>
      <tr>
        <td class="sub-heading">Беспроводные интерфейсы:</td>
      </tr>
      <tr>
        <td>WiFi:</td>
        <td><%= @transformer.wifi %></td>
        <td>Bluetooth:</td>
        <td><%= @transformer.bluetooth %></td>
      </tr>
      <tr>
        <td>GLONASS:</td>
        <td><%= @transformer.glonass %></td>
      </tr>
      <tr>
        <td class="sub-heading">Датчики:</td>
      </tr>
      <tr>
        <td>Гироскоп:</td>
        <td><%= @transformer.gyroscope %></td>
        <td>Акселерометр:</td>
        <td><%= @transformer.accelerometer %></td>
      </tr>
      <tr>
        <td>Барометр:</td>
        <td><%= @transformer.barometer %></td>
        <td>Термометр:</td>
        <td><%= @transformer.thermometer %></td>
      </tr>
      <tr>
        <td>Компас:</td>
        <td><%= @transformer.compass %></td>
        <td>Хронограф:</td>
        <td><%= @transformer.chronograph %></td>
      </tr>
      <tr>
        <td>Шагомер:</td>
        <td><%= @transformer.pedometer %></td>
        <td>Датчик пульса:</td>
        <td><%= @transformer.pulse_sensor %></td>
      </tr>
      <tr>
        <td>Датчик освещенности:</td>
        <td><%= @transformer.light_sensor %></td>
      </tr>
      <tr>
        <td class="sub-heading">Время работы:</td>
      </tr>
      <tr>
        <td>Время работы в режиме ожидания:</td>
        <td><%= @transformer.standby_time %> ч.</td>
        <td>Время работы в режиме часов:</td>
        <td><%= @transformer.clock_time %> ч.</td>
      </tr>
      <tr>
        <td>Батарея:</td>
        <td><%= @transformer.battery %> mAh</td>
      </tr>
      <tr>
        <td class="sub-heading">Прочее:</td>
      </tr>
      <tr>
        <td>Быстрая зарядка:</td>
        <td><%= @transformer.fast_charge %></td>
        <td>Фитнес-трекер:</td>
        <td><%= @transformer.fitness_tracker %></td>
      </tr>
      <tr>
        <td>Беспроводная зарядка:</td>
        <td><%= @transformer.wireless_charge %></td>
        <td>Цвета:</td>
        <td><%= @transformer.color %></td>
      </tr>
      <tr>
        <td>Вес:</td>
        <td><%= @transformer.weight %> гр.</td>
        <td>Размеры (ДxШxВ):</td>
        <td><%= @transformer.dimensions %></td>
      </tr>
      <tr>
        <td>Материал корпуса:</td>
        <td><%= @transformer.material %></td>
        <td>Степень защиты:</td>
        <td><%= @transformer.protection %></td>
      </tr>
      <tr>
        <td>Разъем 3.5 мм Jack:</td>
        <td><%= @transformer.jack %></td>
        <td>Разъем USB Type-C:</td>
        <td><%= @transformer.type_c %></td>
      </tr>
      <tr>
        <td>Онлайн-сервис:</td>
        <td><%= @transformer.online_service %></td>
        <td>Совместимость:</td>
        <td><%= @transformer.compatibility %></td>
      </tr>
      <tr>
        <td>Микрофон:</td>
        <td><%= @transformer.mic %></td>
        <td>Динамик:</td>
        <td><%= @transformer.speaker %></td>
      </tr>
    </table>
  </div>
  <%= render 'layouts/footer' %>
</main>
