<main class="main">
  <div class="container">
    <%= link_to watches_path do %><h2>Телефоны<% end %> > <%= @watch.model %></h2>
    <section class="gadget-head">
      <h1 class="gadget-caption">Часы <%= @watch.model %></h1>
      <div class="img-box">
        <%= link_to (image_path 'watches/'+@watch.model+'_full'), 'data-fancybox' => 'gallery' do %>
          <% image_tag 'watches/'+@watch.model %>
        <% end %>
        <%= link_to (image_path 'watches/'+@watch.model+'_full_back'), 'data-fancybox' => 'gallery' do %>
        <% end %>
      </div>
      <div class="main-specs">
        <table class="specs">
          <caption>Основные характеристики:</caption>
          <tr>
            <td>Производитель:</td>
            <td>LG</td>
          </tr>
          <tr>
            <td>Модель:</td>
            <td><%= @watch.model %></td>
          </tr>
          <tr>
            <td>Год выпуска:</td>
            <td><%= @watch.m_year %></td>
          </tr>
          <tr>
            <td>Операционная система:</td>
            <td><%= @watch.os %></td>
          </tr>
        </table>
      </div>
      <div class="edit-buttons">
        <!-- <%= link_to 'Сравнить', edit_watch_path(@watch), class: "button" %>
        <%= link_to 'Избранное', edit_watch_path(@watch), class: "button" %> -->
        <%= link_to 'Редактировать', edit_watch_path(@watch), class: "button" %>
        <%= link_to 'Удалить', watch_path(@watch), method: :delete, data: { confirm: 'Вы уверены?' }, class: "button attention" %>
      </div>
    </section>
      <table class="specs">
        <caption>Все характеристики:</caption>
        <tr>
          <td class="sub-heading">Описание:</td>
        </tr>
        <tr>
          <td colspan="4"><%= @watch.description %></td>
        </tr>
        <tr>
          <td class="sub-heading">Экран:</td>
        </tr>
        <tr>
          <td>Разрешение экрана:</td>
          <td><%= @watch.resolution_x %> x <%= @watch.resolution_y %> px</td>
          <td>Диагональ экрана (дюймы):</td>
          <td><%= @watch.diagonal %></td>
        </tr>
        <tr>
          <td>Тип экрана:</td>
          <td><%= @watch.screen_type %></td>
          <td>DPI (точек на дюйм):</td>
          <td><%= @watch.dpi %> ppi</td>
        </tr>
        <tr>
          <td>Сенсорный экран:</td>
          <td><%= @watch.touchscreen %></td>
          <td>Мультитач (одновременных касаний):</td>
          <td><%= @watch.multitouch %></td>
        </tr>
        <tr>
          <td>Цветной экран:</td>
          <td><%= @watch.color_screen %></td>
        </tr>
        <tr>
          <td class="sub-heading">Процессор:</td>
        </tr>
        <tr>
          <td>CPU:</td>
          <td><%= @watch.cpu %></td>
          <td>Количество ядер:</td>
          <td><%= @watch.cores %></td>
        </tr>
        <tr>
          <td>Частота ядер процессора:</td>
          <td><%= @watch.frequency %> GHz</td>
          <td>GPU:</td>
          <td><%= @watch.gpu %></td>
        </tr>
        <tr>
          <td class="sub-heading">Память:</td>
        </tr>
        <tr>
          <td>Внутренняя память:</td>
          <td><%= @watch.inner_mem %> GB</td>
          <td>Оперативная память:</td>
          <td><%= @watch.ram %> GB</td>
        </tr>
        <tr>
          <td class="sub-heading">Камера:</td>
        </tr>
        <tr>
          <td>Модуль камеры:</td>
          <td><%= @watch.cam %></td>
          <td>Количество мегапикселей:</td>
          <td><%= @watch.megapixels %> MP</td>
        </tr>
        <tr>
          <td>Автофокус:</td>
          <td><%= @watch.autofocus %></td>
          <td>Разрешение фотографий:</td>
          <td><%= @watch.photo_res_x %> x <%= @watch.photo_res_y %> px</td>
        </tr>

        <tr>
          <td>Запись видео:</td>
          <td><%= @watch.video_rec %></td>
          <td>Разрешение видео:</td>
          <td><%= @watch.video_res_x %> x <%= @watch.video_res_y %> px</td>
        </tr>
        <tr>
          <td>FPS (Кадров в секунду):</td>
          <td><%= @watch.fps %></td>
        </tr>
        <tr>
          <td class="sub-heading">Беспроводные интерфейсы:</td>
        </tr>
        <tr>
          <td>WiFi:</td>
          <td><%= @watch.wifi %></td>
          <td>Bluetooth:</td>
          <td><%= @watch.bluetooth %></td>
        </tr>
        <tr>
          <td>NFC:</td>
          <td><%= @watch.nfc %></td>
          <td>Беспроводная зарядка:</td>
          <td><%= @watch.wireless_charge %></td>
        </tr>
        <tr>
          <td>GPS:</td>
          <td><%= @watch.gps %></td>
        </tr>
        <tr>
          <td class="sub-heading">Датчики:</td>
        </tr>
        <tr>
          <td>Гироскоп:</td>
          <td><%= @watch.gyroscope %></td>
          <td>Акселерометр:</td>
          <td><%= @watch.accelerometer %></td>
        </tr>
        <tr>
          <td>Барометр:</td>
          <td><%= @watch.barometer %></td>
          <td>Термометр:</td>
          <td><%= @watch.thermometer %></td>
        </tr>
        <tr>
          <td>Компас:</td>
          <td><%= @watch.compass %></td>
          <td>Хронограф:</td>
          <td><%= @watch.chronograph %></td>
        </tr>
        <tr>
          <td>Шагомер:</td>
          <td><%= @watch.pedometer %></td>
          <td>Датчик пульса:</td>
          <td><%= @watch.pulse_sensor %></td>
        </tr>
        <tr>
          <td class="sub-heading">Время работы:</td>
        </tr>
        <tr>
          <td>Время работы в режиме ожидания:</td>
          <td><%= @watch.standby_time %> ч.</td>
          <td>Время работы в режиме часов:</td>
          <td><%= @watch.clock_time %> ч.</td>
        </tr>
          <td>Батарея:</td>
          <td><%= @watch.battery %> mAh</td>
        <tr>
        </tr>
        <tr>
          <td class="sub-heading">Прочее:</td>
        </tr>
        <tr>
          <td>Быстрая зарядка:</td>
          <td><%= @watch.fast_charge %></td>
          <td>Разъем USB 3.0 Type-C:</td>
          <td><%= @watch.type_c %></td>
        </tr>
        <tr>
          <td>Поиск телефона:</td>
          <td><%= @watch.finder %></td>
          <td>Цвета:</td>
          <td><%= @watch.color %></td>
        </tr>
        <tr>
          <td>Вес:</td>
          <td><%= @watch.weight %> гр.</td>
          <td>Размеры (ДxШxВ):</td>
          <td><%= @watch.dimensions %></td>
        </tr>
        <tr>
          <td>Материал корпуса:</td>
          <td><%= @watch.material %></td>
          <td>Степень защиты:</td>
          <td><%= @watch.protection %></td>
        </tr>
        <tr>
          <td>Звонки:</td>
          <td><%= @watch.phone %></td>
          <td>Электронная почта:</td>
          <td><%= @watch.e_mail %></td>
        </tr>
        <tr>
          <td>Онлайн-сервис:</td>
          <td><%= @watch.online_service %></td>
          <td>Совместимость:</td>
          <td><%= @watch.compatibility %></td>
        </tr>
        <tr>
          <td>Микрофон:</td>
          <td><%= @watch.mic %></td>
          <td>Динамик:</td>
          <td><%= @watch.speaker %></td>
        </tr>
        <tr>
          <td>Фитнесс-трекер:</td>
          <td><%= @watch.fitness_tracker %></td>
        </tr>
      </table>
    </div>
  <%= render 'layouts/footer' %>
</main>
