<p>
  <strong>developer:</strong>
  <%= @watch.developer %>
</p>

<p>
  <strong>model:</strong>
  <%= @watch.model %>
</p>

<p>
  <strong>description:</strong>
  <%= @watch.description %>
</p>

<p>
  <strong>m_year:</strong>
  <%= @watch.m_year %>
</p>

<p>
  <strong>resolution_x:</strong>
  <%= @watch.resolution_x %>
</p>

<p>
  <strong>resolution_y:</strong>
  <%= @watch.resolution_y %>
</p>

<p>
  <strong>diagonal:</strong>
  <%= @watch.diagonal %>
</p>

<p>
  <strong>screen_type:</strong>
  <%= @watch.screen_type %>
</p>

<p>
  <strong>color_screen:</strong>
  <%= @watch.color_screen %>
</p>

<p>
  <strong>dpi:</strong>
  <%= @watch.dpi %>
</p>

<p>
  <strong>touchscreen:</strong>
  <%= @watch.touchscreen %>
</p>

<p>
  <strong>multitouch:</strong>
  <%= @watch.multitouch %>
</p>

<p>
  <strong>cpu:</strong>
  <%= @watch.cpu %>
</p>

<p>
  <strong>cores:</strong>
  <%= @watch.cores %>
</p>

<p>
  <strong>frequency:</strong>
  <%= @watch.frequency %>
</p>

<p>
  <strong>gpu:</strong>
  <%= @watch.gpu %>
</p>

<p>
  <strong>inner_mem:</strong>
  <%= @watch.inner_mem %>
</p>

<p>
  <strong>ram:</strong>
  <%= @watch.ram %>
</p>

<p>
  <strong>cam:</strong>
  <%= @watch.cam %>
</p>

<p>
  <strong>megapixels:</strong>
  <%= @watch.megapixels %>
</p>

<p>
  <strong>photo_res_x:</strong>
  <%= @watch.photo_res_x %>
</p>

<p>
  <strong>photo_res_y:</strong>
  <%= @watch.photo_res_y %>
</p>

<p>
  <strong>autofocus:</strong>
  <%= @watch.autofocus %>
</p>

<p>
  <strong>video_rec:</strong>
  <%= @watch.video_rec %>
</p>

<p>
  <strong>video_res_x:</strong>
  <%= @watch.video_res_x %>
</p>

<p>
  <strong>video_res_y:</strong>
  <%= @watch.video_res_y %>
</p>

<p>
  <strong>fps:</strong>
  <%= @watch.fps %>
</p>

<p>
  <strong>finder:</strong>
  <%= @watch.finder %>
</p>

<p>
  <strong>phone:</strong>
  <%= @watch.phone %>
</p>

<p>
  <strong>e_mail:</strong>
  <%= @watch.e_mail %>
</p>
<p>
  <strong>wifi:</strong>
  <%= @watch.wifi %>
</p>

<p>
  <strong>bluetooth:</strong>
  <%= @watch.bluetooth %>
</p>

<p>
  <strong>nfc:</strong>
  <%= @watch.nfc %>
</p>

<p>
  <strong>gps:</strong>
  <%= @watch.gps %>
</p>

<p>
  <strong>gyroscope:</strong>
  <%= @watch.gyroscope %>
</p>

<p>
  <strong>accelerometer:</strong>
  <%= @watch.accelerometer %>
</p>

<p>
  <strong>barometer:</strong>
  <%= @watch.barometer %>
</p>

<p>
  <strong>thermometer:</strong>
  <%= @watch.thermometer %>
</p>

<p>
  <strong>compass:</strong>
  <%= @watch.compass %>
</p>

<p>
  <strong>chronograph:</strong>
  <%= @watch.chronograph %>
</p>

<p>
  <strong>pedometer:</strong>
  <%= @watch.pedometer %>
</p>

<p>
  <strong>pulse_sensor:</strong>
  <%= @watch.pulse_sensor %>
</p>

<p>
  <strong>fitness_tracker:</strong>
  <%= @watch.fitness_tracker %>
</p>

<p>
  <strong>wireless_charge:</strong>
  <%= @watch.wireless_charge %>
</p>

<p>
  <strong>fast_charge:</strong>
  <%= @watch.fast_charge %>
</p>

<p>
  <strong>type_c:</strong>
  <%= @watch.type_c %>
</p>

<p>
  <strong>battery:</strong>
  <%= @watch.battery %>
</p>

<p>
  <strong>standby_time:</strong>
  <%= @watch.standby_time %>
</p>

<p>
  <strong>clock_time:</strong>
  <%= @watch.clock_time %>
</p>

<p>
  <strong>os:</strong>
  <%= @watch.os %>
</p>

<p>
  <strong>online_service:</strong>
  <%= @watch.online_service %>
</p>

<p>
  <strong>compatibility:</strong>
  <%= @watch.compatibility %>
</p>

<p>
  <strong>speaker:</strong>
  <%= @watch.speaker %>
</p>

<p>
  <strong>mic:</strong>
  <%= @watch.mic %>
</p>

<p>
  <strong>color:</strong>
  <%= @watch.color %>
</p>

<p>
  <strong>weight:</strong>
  <%= @watch.weight %>
</p>

<p>
  <strong>dimensions:</strong>
  <%= @watch.dimensions %>
</p>

<p>
  <strong>material:</strong>
  <%= @watch.material %>
</p>

<p>
  <strong>protection:</strong>
  <%= @watch.protection %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %>
<%= link_to 'Back', phones_path %>
